version: 2.1
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0-alpine
    steps:
      - checkout
      - run: echo '152.199.40.167 api.nuget.org' >> /etc/hosts
      - setup_remote_docker
      # build and push Docker image
      - run: sudo apt-get update
      - run: sudo apt-get install -y dnsutils 
      - run: nslookup api.nuget.org
      - run: dig api.nuget.org
 
