version: 2.1
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0-alpine
    steps:
      - checkout
      - run: cp /etc/resolv.conf ~/resolv.conf
      - run: sed -i 's/nameserver 127.0.0.11/nameserver 8.8.8.8/g' ~/resolv.conf
      - run: cp ~/resolv.conf /etc/resolv.conf
      - run: cat /etc/resolv.conf  
      - setup_remote_docker:
          version: 20.10.14
          docker_layer_caching: true

      # build and push Docker image
      - run: |
          docker build .
